* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffffff);
  color: #000000;
  background-attachment: fixed;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.396);
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #378f56;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}
.nav-links li a:hover {
  color: #378f56;
  background: #eeeeee00;
  box-shadow: 0 4px 12px #b1b1b100;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.nav-links li a.active {
  color: white;
  background: #82b688;
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3);
}
.home-section {
  height: 100vh;
  background: url("assets/rs.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.hero-image {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/rumahsakit.jpg");
  background-size: cover;
  background-position: center;
}
.home-content {
  position: relative;
  color: white;
  animation: fadeIn 1.5s ease;
}
.home-content h1 {
  font-size: 55px;
  margin-bottom: 15px;
  text-shadow: #000000;
  box-shadow: #000000;
}
.home-content p {
  font-size: 20px;
  text-shadow: #000000;
}
.btn-primary {
  font-size: 17px;
  margin-top: 15px;
  padding: 12px 25px;
  background: #93bfc7;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary:hover {
  background: #6d989f;
}
.section {
  padding: 100px 60px;
  margin-top: 60px;
  animation: fadeUp 1s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.section h2 {
  font-size: 25px;
}
.section h3 {
  font-size: 15px;
}
.section {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(6px);
  padding: 100px 60px;
  margin: 80px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26);
  animation: fadeUp 1s ease;
  -webkit-animation: fadeUp 1s ease;
}
.section-profil {
  background: #dbdbdb;
  backdrop-filter: blur(6px);
  padding: 100px 60px;
  margin: 80px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26);
  animation: fadeUp 1s ease;
}
.pemilikrs {
    max-width: 250px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
    box-shadow: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.sarana-grid {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  flex-wrap: wrap;
}
.sarana-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.sarana-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.sarana-card h3 {
  padding: 15px;
}
.sarana-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}
.sarana-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 255, 174, 0.25);
  cursor: pointer;
}
.dokter-grid {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  flex-wrap: wrap;
}
.dokter-card {
  width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dokter-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.dokter-card {
  width: 250px;
  background: white;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.dokter-card:hover {
  transform: translateY(-10px) scale(1);
  box-shadow: 0 12px 28px rgba(0, 255, 174, 0.25);
  cursor: pointer;
  -webkit-transform: translateY(-10px) scale(1);
  -moz-transform: translateY(-10px) scale(1);
  -ms-transform: translateY(-10px) scale(1);
  -o-transform: translateY(-10px) scale(1);
}
.sarana-card img,
.dokter-card img {
  transition: 0.4s ease;
}
.sarana-card:hover img,
.dokter-card:hover img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.form-daftar {
  position: left;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-daftar input,
.form-daftar select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #bbb;
}
.notif {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
footer {
  background: #5f8187;
  color: #ccc;
  padding: 40px 20px;
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}
.footer-section h3,
.footer-section h4 {
  color: white;
  margin-bottom: 10px;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
